@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hidden {
  overflow-y: scroll;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

.line-clamp-sm {
  -webkit-line-clamp: 8;
  max-height: 156px;
  transition: max-height 2.5s ease-in-out;
}

.line-clamp-lg {
  -webkit-line-clamp: 11;
  max-height: 240px;
  transition: max-height 0.5s ease-in-out;
}

.grid-cols-x13 {
  grid-template-columns: repeat(13, minmax(0, 1fr));
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 0.75rem;
  }
  .scrollbar-ml-1::-webkit-scrollbar {
    margin-left: 1rem;
  }
  .scrollbar-thumb::-webkit-scrollbar-thumb {
    background-color: #56638aff;
    border-radius: 4px;
  }
  .scrollbar-track::-webkit-scrollbar-track {
    background-color: #454545ff;
  }
}
