@tailwind base;
@tailwind components;
@tailwind utilities;

.sign-in-link {
  @apply text-blush hover:text-caribbeanCurrent focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 rounded-sm;
}

.sign-in-button {
  @apply bg-darkGreen text-cornsilk border-2 border-darkGreen hover:text-cornsilk hover:bg-ultraViolet/75 hover:border-ultraViolet/75 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2;
}

.sign-in-button-reverse {
  @apply bg-cornsilk text-darkGreen border-2 border-darkGreen hover:text-cornsilk hover:bg-ultraViolet/75 hover:border-ultraViolet/75 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2;
}

.sign-in-input {
  @apply bg-white placeholder:text-onyx/50 border-2 border-onyx/50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2;
}

.logo {
  @apply fill-cornsilk stroke-darkGreen group-hover:stroke-ultraViolet group-hover:fill-cornsilk;
}

.logo-h1 {
  @apply font-bold text-darkGreen group-hover:text-ultraViolet group-hover:decoration-ultraViolet;
}

.baseButtonDefault {
  @apply bg-darkGreen text-cornsilk  border-darkGreen hover:text-cornsilk hover:bg-ultraViolet/75 hover:border-ultraViolet focus:ring active:text-cornsilk;
}

.borderButtonDefault {
  @apply bg-transparent text-darkGreen  border-darkGreen hover:text-cornsilk hover:bg-ultraViolet/75 hover:border-ultraViolet focus:ring active:bg-ultraViolet;
}

.RatingFillColor {
  @apply text-blush hover:text-blush/50;
}

.scrollbar-hidden {
  overflow-y: scroll;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
